@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700');

/*Padrão estabelecido*/
* {
	box-sizing: border-box;
 	position: relative;
}

 body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

img {
	width: 25%;
}
/*-----------------------Configurações da "nav" - Menu-----------------------*/
header{
	width: 100%;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	top: 2%;
}

nav a {
	/*Seletores de Posicionamento do Menu*/
	display: flex;
	justify-content: center;
	align-items: center;

	/*Seletores de Estilo do Menu*/
	background: #fff;
	width: 150px;
	padding: 8px 30px;
	border: 1px solid #95989a;
	border-radius: 30px;
	margin: 0px 15px;

	/*Seletores de Estilo do Texto*/
	list-style: none;
	text-decoration: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94em;
	color: #00416d;
	font-style: normal;
}

@media(max-width: 640px){

	/*Responsivo do Menu - para Mobiles*/

	nav a {
		width: 75px;
		padding: 0.25% 0.25%;
		margin: 0.5%;
	}
}

/*-----------------------Configurações da "section 1" - Home-----------------------*/

.home-section {
	min-height: 100vh;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 15%;
}

.home-section img {
	width: 60%;
	margin: 0 auto;
	padding-right: 5%;
}

.home-section p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94 em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 0.8 em;
	letter-spacing: 0 em;
}

@media(max-width: 640px){

	/*Responsivo da Secti 1 - Home - para Mobiles*/

	.home-section {
		top: 0; 
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		width: 95%;
	}

	.home-section img {
		width: 75%;
		margin-top: 20%;
	}

	.home-section p {
		width: 90%;
		margin: 20px;
	}
}

/*-----------------------Configurações da "section 2" - Sobre-----------------------*/

#sobre {
	min-height: 100vh;
	background-image: url("Assets/sobre.JPG");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

	@media(max-width: 640px){
 		#sobre {
 			justify-content: center;
 		}
 	}
	
#sobre div {
	background-color: #fff;
	width: 45%;
	border-radius: 30px;
	top: 5px;
	padding-bottom: 25px;
	margin: 0 2%;
}

	@media(max-width: 640px){
 		#sobre div {
 			width: 95%;
 			margin: 5% 2%;
 		}
 	}

#sobre h2 {
	margin: 25px 20px 10px 20px;
	font-weight: 700;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
#sobre p {
	margin: 20px 20px 20px 20px;
	font-weight: 400;
	font-size: 0.97em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1em;
	letter-spacing: 0em;
}

/*-----------------------Configurações da "section 3" - Ações-----------------------*/
#acoes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	width: 80%;
	margin: 0 auto;
}
/*Ações Div1*/
#acoes h2{
	width: 85%;
	margin-top: 100px;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
#acoes h3{
	font-weight: 600;
	font-size: 1.56em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
	margin: 0;
	margin-top: 2%;
}
#acoes p {
	font-size: 0.97em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1em;
	letter-spacing: 0em;
	margin: 2% 0;
}
#acoes div {
	width: 50%;
	display: flex;
	flex-direction: column;
}
#acoes .acoes-div1 {
	width: 85%;	
	height: 650px;
	flex-flow: column wrap;
}
#acoes .acoes-div1 p{
	width: 35%;
}
#acoes .acoes-div1 img {
	width: 60%;
}
#acoes .acoes-div2 {
	padding-bottom: 10%;
}

#acoes .acoes-div2 p {
	width: 90%;
}
#acoes .acoes-div3 p {
	width: 90%;
}
#acoes .acoes-div3 img {
	width: 80%;
}
#acoes .acoes-div2 video {
	width: 95%;
}
@media(max-width: 640px){
	#acoes {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#acoes h2 {
    	margin: 0;
    	margin-top: 25px;
	}
	#acoes .acoes-div1 {
		height: auto;	
	}
	#acoes div {
		width: 90%;
		margin: 0 auto;
	}
	#acoes h2,
	#acoes .acoes-div1,
	#acoes .acoes-div2,
	#acoes .acoes-div3 {
		width: 100%;
	}
	#acoes .acoes-div1 p,
	#acoes .acoes-div2 p,
	#acoes .acoes-div3 p {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 5%;
	}
}
/*-----------------------Configurações do "footer" - Contato-----------------------*/
#contato {
	position: relative;
	min-height: 100vh;
	background-image: url("Assets/contato.JPG");
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}
.contato-div1 {
	background-color: #fff;
	width: 34.19%;
	height: 34.19%;
	padding: 22px 22px 22px 22px;
	border-radius: 30px;
	top: 247px;
	right: 70px;
}
#contato h2 {
	margin: 0;
	padding: 0px;
	font-weight: 700;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
#contato p {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	list-style: none;
}
#contato ul {
	margin: 0 0 0 0;
	padding: 0px;
}

#contato ul li {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	list-style: none;
}
/*Posicionamento da Div1*/
#contato .contato-div1-sub {
	display: flex;
	flex-direction: row;
}
/*Configurações das SubDivs*/
#contato .contato-div1-sub1 {
	width: 30%;
	margin: 10px 0 5px 0;
	padding: 0;
}
#contato .contato-div1-sub2 {
	width: 70%;
	margin: 0;
	padding: 0;
}
/*Configurações da SubDiv 1*/
#contato .contato-div1-sub1 img {
	width: 50%;
}
#contato .contato-div1-sub1 p {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: #95989a;
	text-align: left;	
}
@media(max-width: 640px){
	#contato {
		justify-content: center;
		align-items: center;
	}
	.contato-div1 {
		background-color: #fff;
		width: 90%;
		height: auto;
		position: static;
	}
	#contato .contato-div1-sub1 {
		width: 50%;
	}
}

/*footer Vai na Web */

.vnw{
	width: 100%;
    height: 40px;
	background: #f16337;
	position: absolute;
	left: 0;
	align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.vnw__text{
	font-family: 'Source Code Pro', monospace !important;
	font-weight: 500 !important;
	font-size: 16px !important;
    color: #30368c !important;
}
.vnw__link{
	color: #30368c !important;
	font-weight: 700 !important;
}
@media (max-width: 768px){
	.vnw__text{
        font-size: 12px;
    }
}