@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/*Padrão estabelecido*/

* {
	box-sizing: border-box;
 	position: relative;
}

 body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

img {
	width: 25%;
}

/*-----------------------Configurações da "nav" - Menu-----------------------*/

nav ul {

	/*Seletores de Posicionamento do Menu*/
	position: fixed;
	top: 2%;
	left: 15%;
	right: 15%;
	display: flex;
	justify-content: center;
	z-index: 1;
}	

nav ul li {

	/*Seletores de Estilo do Menu*/
	background: #fff;
	width: 150px;
	padding: 8px 30px;
	border: 1px solid #95989a;
	border-radius: 30px;
	margin: 0px 15px;

	/*Seletores de Estilo do Texto*/
	list-style: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94 em;
	color: #00416d;
	font-style: normal;
}

@media(max-width: 640px){

	/*Responsivo do Menu - para Mobiles*/

	nav ul {
		padding: 0;
		margin: 0;
	}

	nav ul li {
		padding: 0.5% 5%;
		margin: 2.5%;
	}
}

/*-----------------------Configurações da "section 1" - Home-----------------------*/

.home-section {
	min-height: 100vh;
	top: 250px; 
	/* Infelizmente não foi possível atender à comfiguração de 166px*/ 
	left: 700px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.home-section img {
	width: 29%;
}

.home-section p {
	width: 23%;
	margin: 1.46%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94 em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 0.8 em;
	letter-spacing: 0 em;
}

@media(max-width: 640px){

	/*Responsivo da Secti 1 - Home - para Mobiles*/

.home-section {
	top: 101px; 
	/* Infelizmente não foi possível atender à comfiguração de 166px*/ 
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.home-section img {
	width: 75%;
	}

.home-section p {
	top: 38px;
	width: 90%;
	margin: 20px;
	}
}

/*-----------------------Configurações da "section 2" - Sobre-----------------------*/

#sobre {
	min-height: 100vh;
	background-image: url("Assets/sobre.JPG");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	}
	
#sobre div {
	background-color: #fff;
	width: 700px;
	right: 50px;
	height: 500px;
	border-radius: 30px;
	top: 5px;

}
#sobre h2 {
	margin: 40px 40px 10px 40px;
	font-weight: 700;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
#sobre p {
	margin: 10px 40px 40px 40px;
	font-weight: 400;
	font-size: 0.97em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1em;
	letter-spacing: 0em;
}

/*-----------------------Configurações da "section 3" - Ações-----------------------*/
#acoes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
}
/*Ações Div1*/

#acoes h2{
	width: 80%;
	margin-top: 100px;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}

#acoes h3{
	font-weight: 600;
	font-size: 1.56em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
#acoes p {
	font-size: 0.97em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1em;
	letter-spacing: 0em;
}
#acoes div {
	width: 37%;
	display: flex;
	flex-direction: column;

}
#acoes .acoes-div1 {
	width: 80%;	
	height: 650px;
	flex-flow: column wrap;
}
#acoes .acoes-div1 p{
	width: 30%;
}
#acoes .acoes-div1 img {
	width: 60%;
}

#acoes .acoes-div2 p {
	width: 70%;
}

#acoes .acoes-div3 p {
	width: 70%;
}

#acoes .acoes-div3 img {
	width: 70%;
}

#acoes .acoes-div2 video {
	width: 95%;
}

/*-----------------------Configurações do "footer" - Contato-----------------------*/

#contato {
	min-height: 100vh;
	background-image: url("Assets/contato.JPG");
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}
.contato-div1 {
	background-color: #fff;
	width: 34.19%;
	height: 34.19%;
	padding: 42px 42px 42px 50px;
	border-radius: 30px;
	top: 247px;
	right: 70px;
}

#contato h2 {
	margin: 0;
	padding: 0px;
	font-weight: 700;
	font-size: 1.88em;
    font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}

#contato p {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	list-style: none;
}

#contato ul {
	margin: 0 0 0 0;
	padding: 0px;
}

#contato ul li {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	list-style: none;
}

/*Posicionamento da Div1*/

#contato .contato-div1-sub {
	display: flex;
	flex-direction: row;
}

/*Configurações das SubDivs*/

#contato .contato-div1-sub1 {
	width: 30%;
	margin: 10px 0 5px 0;
	padding: 0;
}

#contato .contato-div1-sub2 {
	width: 70%;
	margin: 0;
	padding: 0;
}

/*Configurações da SubDiv 1*/

#contato .contato-div1-sub1 img {
	width: 50%;
}

#contato .contato-div1-sub1 p {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: #95989a;
	text-align: left;	
}



/*Configurações da SubDiv 2*/
